<a ui-sref="home"> Home </a> &lt; 
<div> Categories</div>
<h3>Premade List with ours categories list</h3>
<categories data="ctrl.categories"></categories>
<ui-view></ui-view>

<div>
  <ul>
    <li ng-repeat="cat in $ctrl.data">
      <a ui-sref="items({categoryShortName:cat.short_name})">
      	{{cat.name}}
      </a>
      <p>
        <span></span>{{cat.special_instructions}}
      </p>
    </li>
  </ul>
</div>
<!-- <ul>
  <li ng-repeat="item in $ctrl.items"
      ui-sref="categories.items.items({itemId: $index})">
    {{ item.short_name }}: {{ item.name }}
  </li>
</ul> -->
